{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/themes/light.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

    {% include "cafe_app/topbar.html" %}
    
    <div style="display: flex; flex-direction: column; max-width: 85%; margin: 0 auto;">
    <div style="display: flex; flex-direction: row; align-items: center;">
    <h1>Список заказов</h1>
    <div style="display: flex; flex-direction: column; flex: auto; align-items: flex-end; margin: 10px 0;">
        <div style="display: flex; flex-direction: column; align-items: center;">
        <!-- <h3>Фильтрация по статусу</h3> -->
        
        <sl-details summary="Фильтрация по статусу">
            
            <div style="display: flex; flex-direction: row; flex: auto;">
                <div class="filter-orders-contrainer" style="display: flex; flex-direction: column; flex: auto;">
                    <sl-checkbox value="is_pending">в ожидании</sl-checkbox>
                    
                    <sl-checkbox value="is_ready">готово</sl-checkbox>
                    
                    <sl-checkbox value="is_paid">оплачено</sl-checkbox>
                    
                    <br>
                    <sl-button variant="default" size="small" onclick="filterOrders()">
                        Отфильтровать
                    </sl-button>
                </div>
            </div>
            
        </sl-details>
        
        </div>
    </div>
    </div>

    <div class="orders-container">

    {% include "cafe_app/orders_template.html" %}
    
    </div>
    <!-- <div>

    <table>
        <thead>
            <tr>
                <th>ID заказа</th>
                <th>Номер стола</th>
                <th>Список блюд</th>
                <th>Общая стоимость</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td><a href="{% url 'order-detail' order.id %}"> {{ order.id }} </a></td>
                <td>{{ order.table_number }}</td>
                <td>
                    <ul>
                        {% for item in order.items %}
                            <li>{{ item.item_name }} - ({{ item.quantity }} шт. - <sl-format-number type="currency" currency="RUB" lang="ru" value="{{ item.items_price }}"></sl-format-number>)</li>
                        {% endfor %}
                    </ul>
                </td>
                <td><sl-format-number type="currency" currency="RUB" lang="ru" value="{{ order.total_price }}"></sl-format-number></td>
                <td>
                    
                        <sl-select value="{{ order.status }}" disabled>
                            <sl-option value="is_pending">в ожидании</sl-option>
                            <sl-option value="is_ready">готово</sl-option>
                            <sl-option value="is_paid">оплачено</sl-option>
                        </sl-select>
                
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    </div> -->
    </div>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.0/cdn/shoelace.js" ></script>
    <script defer src="{% static 'js/update_orders_content.js' %}"></script>
    <script>

        function getCheckboxParams() {
            const checkboxes = document.querySelector('.filter-orders-contrainer').querySelectorAll('sl-checkbox');
            let params = [];

            checkboxes.forEach(checkbox => {
                let value = checkbox.getAttribute('value');
                
                if (checkbox.checked) {
                    params.push(`${value}=true`);
                } else {
                    params.push(`${value}=false`);   
                }
                
        });

        return params.join("&");
        }

        function filterOrders() {
            const checkbox_params = getCheckboxParams();
            
            const baseUrl = window.location.origin;

            const url = `${baseUrl}/orders_template?${checkbox_params}`;

            updateOrdersContent(url);

        }

    </script>
</body>
</html>